import /microtrust.rc

on init
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.configfs 1
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    chmod 0666 /dev/isee_tee0
    chmod 0666 /dev/teei_client
    chmod 0777 /tmp/
    chown system system /dev/isee_tee0
    chown system system /dev/teei_client

on early-fs
    start adbd
    mount ext4 /dev/block/platform/bootdevice/by-name/md_udc /metadata
on fs
    install_keyring
    start servicemanager
    start hwservicemanager
    start vndservicemanager

#
# Recovery startup sequence
#

on property:init.svc.teei_daemon=running
#    start soter-1-0

# on property:init.svc.soter-1-0=running
#     start bp_kmsetkey
    
# on property:init.svc.bp_kmsetkey=stopped
    start keymaster-4-1

on property:init.svc.keymaster-4-1=running
    start gatekeeper-1-0

# on property:init.svc.gatekeeper-1-0=running
#     start keymaster_attestation-1-1

service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.beanpod
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    class early_hal
    user root
    group root drmrpc
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    seclabel u:r:recovery:s0

service bp_kmsetkey /vendor/bin/bp_kmsetkey_ca -C
    user root
    group root
    disabled
    oneshot
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw
    seclabel u:r:recovery:s0
    
service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
#    class hal
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64
    seclabel u:r:recovery:s0
    
service soter-1-0 /vendor/bin/hw/vendor.microtrust.hardware.soter@1.0-service
#    class hal
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64
    seclabel u:r:recovery:s0

on property:ro.crypto.state=unsupported
    stop gatekeeper-1-0
    stop keymaster-4-1
    stop teei_daemon
    stop keymaster_attestation-1-1
    stop keystore2
    stop soter-1-0

on property:ro.crypto.state=unencrypted
    stop gatekeeper-1-0
    stop keymaster-4-1
    stop teei_daemon
    stop keymaster_attestation-1-1
    stop keystore2
    stop soter-1-0
    
on property:twrp.decrypt.done=true
    stop gatekeeper-1-0
    stop keymaster-4-1
    stop teei_daemon
    stop keymaster_attestation-1-1
    stop keystore2
    stop soter-1-0
