import /microtrust.rc
    
on init
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.configfs 1
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw

    chmod 0666 /dev/isee_tee0
    chmod 0666 /dev/teei_client
    chmod 0777 /tmp/
    chown system system /dev/isee_tee0
    chown system system /dev/teei_client

on fs
    setprop crypto.ready 1
    install_keyring

service keystore2 /system/bin/keystore2 /data/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0
 
service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service soter-1-0 /vendor/bin/hw/vendor.microtrust.hardware.soter@1.0-service
    class hal
    user system
    group system
    seclabel u:r:recovery:s0

service beanpod_check_keybox_service /vendor/bin/bp_kmsetkey_ca.sh
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0
    
service fixup /vendor/bin/fix-decrypt-service.sh
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    oneshot
    setenv LD_PRELOAD /vendor/lib64/libkeymaster_messages.so:/vendor/lib64/libpuresoftkeymasterdevice.so:/vendor/lib64/libkeymaster_portable.so
    seclabel u:r:recovery:s0
    
#on property:hwservicemanager.ready=true
#    start teei_daemon
#    start soter-1-0
#    start beanpod_check_keybox_service
#    start keymaster-4-0
#    start gatekeeper-1-0
#    start keystore2

on property:hwservicemanager.ready=true
    start teei_daemon

on property:init.svc.teei_daemon=running
    start soter-1-0

on property:init.svc.soter-1-0=running
    start beanpod_check_keybox_service

on property:ro.fixup.ready=true 
    start gatekeeper-1-0
    
on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop soter-1-0
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop keystore2

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop soter-1-0
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop keystore2

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop soter-1-0
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop keystore2

    
on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd
